* {
	margin: 0;
	padding: 0;
	font-family: 'Patua One';
}

body {
	background-color: gray;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
	padding: 0px;
	margin: 10px auto;
	
	background-color:white;
}

table tr td {
	width: 80px;
	height: 80px;
	border: 1px solid black ;
	font-size: 30px;
	text-align: center;
}

table tr td:hover {
	background: #2c3531;
	cursor: pointer;
}
.winner {
	width: 240px;
	height: 140px;
	margin: 10px auto;
	font-size: 60px;
	text-align: center;
}
.winner span {
	font-size: 40px;
	display: block;
}
#reload {
	width: 240px;
	height: 100px;
	margin: 10px auto;
	display: block;
	border: none;
	background-color: #272727;
	font-size: 40px;
}

.button{
    text-decoration: none;
    padding: 10px;
    font-weight: 600;
    font-size: 20px;
    color: black;
    background-color: gray;
    border-radius: 6px;
    border: 2px solid black;
  }
  .button:hover{
    color: black;
    background-color: #363636;
  }